# .gitignore
__pycache__/
*.pyc
*.antlr
*.log
.idea/
.vscode/
.coverage
*.DS_Store
*.svg
*.png
build/
# Ignore ANTLR-generated parser files
src/sv_parser/SystemVerilogSubset*.py
src/sv_parser/SimpleVerilogExpr*.py

