<!DOCTYPE html>
<html>
<head>
  <title>{{ tree_name }} Explorer</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="/static/explorer.js"></script>
</head>
<body>
  <div>
    <label for="view-select">Select View:</label>
    <select id="view-select">
      <option value="original">Original</option>
      <option value="simplified">Simplified</option>
    </select>
  </div>
  <div id="graph-container"></div>

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="/static/explorer.js"></script>
</body>
</html>
